<div>
  current month: {{this.currentMonth}}
</div>

<div>
  current date: {{this.selectedDate}}
</div>


<button
  type="button"
  {{on "click" this.previousMonth}}
>
  Previous
</button>

<button
  type="button"
  {{on "click" this.nextMonth}}
>
  Next
</button>

<DojoCalendar::Month
  @selectDate={{this.selectDate}}
  @month={{this.currentMonth}}
  @dojos={{this.dojos}}
/>


// eventListeners
// Curried Functions
// Decorators
// closure actions
  - research #TODO
